<!DOCTYPE HTML>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>xyBlog</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />

</head>
<body>
  <div class="xymain">
    <div class="main-wrap">
      <iframe scrolling='no' frameborder='0' src='http://yibo.iyiyun.com/js/yibo404/key/5812' width='640' height='462' style='display:block;'></iframe>
    </div>
  </div>
</body>
</html>