<!DOCTYPE HTML>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%=title%></title>
  <link type="text/css" rel="stylesheet" href="/css/xyreset.css" />
  <link rel='stylesheet' href='/css/main.css' />
</head>
<body>
  <div class="xymain">
