<%- include header %>
  
  <%- include side %>
  
  <div class="main-wrap">
    <ul class="links">
      <li><a href="http://www.xiejiancong.com" title="前端那些事儿">前端那些事儿</a></li>
      <li><a href="http://lab.xiejiancong.com" title="实验室">实验室</a></li>
      <li><a href="http://www.color7.net" title="七彩科技">七彩科技</a></li>
      <li><a href="http://www.xiejiancong.com" title="优美小说网">优美小说网</a></li>
    </ul>
  </div>

<%- include footer %>