/* Common */
html, body{height:100%;}
.xymain{width:1024px;height:100%;margin:0 auto;position:relative;}
.side-menu li a, .cont-meta .tags a, .cont-desc a{-webkit-transition: .1s ease-in;-moz-transition: .1s ease-in;-o-transition: .1s ease-in;transition: .1s ease-in;}

.pub-btn{background-color:#F0F0F0;background-image:-webkit-linear-gradient(#f9f9f9,#f0f0f0);background-image:-moz-linear-gradient(#f9f9f9,#f0f0f0);background-image:linear-gradient(#f9f9f9,#f0f0f0);border-radius:2px;}
.pub-btn:active{background-image:none;background-color:#F9F9F9;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.clear, .pagenav{overflow:hidden;zoom:1;}
.textHide{text-indent:-9999px;overflow:hidden;}
.textCut{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}


/* Main */
.main-wrap{float:right;width:720px;padding:30px 0 30px 30px;background:#fff;}
.main-top{height:125px;margin:0 0 50px;border-bottom:solid 1px #ddd;border-bottom:solid 1px rgba(0, 0, 0, .1);}

.post-list{margin:0 0 75px;}
.post-list li{margin:0 0 30px;}
.post-list .cont-tit{margin:0 0 20px;font-size:24px;line-height:32px;}
.post-list .cont-tit a{color:#747474;}
.cont-meta span{margin-right:10px;}
.cont-meta .tags{float:right;margin:0;}
.cont-meta .tags a{margin:0 0 0 5px;padding:3px 7px;color:#888;background:#f7f7f7;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.cont-meta .tags a:hover{color:#fff;background:#47AFD5;}
.cont-abstract{margin: 0 0 15px;padding: 0 0 20px;border-bottom:dotted 1px #ddd;word-wrap:break-word;}

.post-box .cont-tit{margin:0 0 10px;padding:0 0 10px;font-size:24px;line-height:24px;border-bottom:dotted 1px #ddd;}
.cont-desc{font-size:14px;margin:20px 0 45px;line-height:2em;word-wrap:break-word;word-break:break-all;}
.cont-desc hr{height:0;border:0;margin:10px 0;border-bottom:solid 1px #ddd;border-bottom:solid 1px rgba(0, 0, 0, .1);}

.pagenav{text-align:right;}
.pagenav a{padding:0 15px;line-height:22px;background:#f7f7f7;color:#888;font-size:30px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.pagenav a:hover{background: #eee;}


/* Comment */
.top-reply-box{margin:0 0 25px;}
.sub-reply-box{margin:10px 0 0;}
.reply-info{margin:0 0 10px;overflow:hidden;zoom:1;}
.reply-info .input-line{float:left;width:25%;margin:0 5px 0 0;padding:3px 5px;border:1px solid #ddd;}
.reply-info input{width:100%;height:20px;line-height:20px;border:0;}
.txt-line{width:99%;border:1px solid #ddd;}
.txt-line .reply-box-cont{padding-left:20px;}
.txt-line textarea{display:block;width:100%;height:80px;margin-left:-20px;padding:10px;border:0;resize:none;overflow:auto;}
.pub-toolbar{height:30px;line-height:30px;overflow:hidden;zoom:1;border-top:1px solid #ddd;}
.pub-toolbar .pub-btn{float:right;width:125px;height:30px;border:0;border-left:1px solid #ddd;cursor:pointer;}
.pub-toolbar .add-emote{margin-left:10px;}

.comm-list{margin:0 0 25px;font-size:14px;}
.comm-hot-bar{margin:0 0 15px;padding:0 0 5px;font-size:18px;color:#333;border-bottom:1px solid #ddd;border-bottom:solid 1px rgba(0, 0, 0, .1);}
.comm-list li{position:relative;margin:0 0 10px;overflow:hidden;zoom:1;}
.comm-list .comm-avatar{position:absolute;padding:2px;background:#fff;border-radius:50%;overflow:hidden;top:15px;left:0;}
.comm-list .comm-avatar img{display:block;width:46px;height:46px;border-radius:50%;}
.comm-list .comm-body{background:#eee;padding:10px 10px 10px 55px;}
.comm-list .comm-cont{word-wrap:break-word;word-break:break-all;}
.comm-self{padding-left:25px;}
.comm-list .comm-meta{margin:5px 0 0;font-size:12px;color:#999;}
.comm-list .comm-meta a{margin-left:10px;color:#999;}

.comm-children{float:right;width:95%;}
.comm-children li{margin:10px 0 0;}


/* Sidebar */
.sidebar{position:fixed;width:244px;height:100%;padding:0 30px 0 9999px;margin:0 0 0 -9999px;background:url(../img/side_bg.png);text-align:right;box-shadow:inset rgba(0,0,0, 0.1) 0px 0px 5px;-moz-box-shadow:inset rgba(0,0,0, 0.1) 0px 0px 5px;-webkit-box-shadow:inset rgba(0,0,0, 0.1) 0px 0px 5px;}
.logo{height:155px;line-height:155px;margin:0 0 50px -9999px;padding:0 0 0 9999px;border-bottom:solid 1px #ddd;border-bottom:solid 1px rgba(0, 0, 0, .1);}
.logo-txt a{color:#8d8d8d;font-size:30px;font-weight:normal;word-wrap:break-word;}

.side-menu{padding:0 0 20px;}
.side-menu li{font-size:14px;padding:0 0 15px;}
.side-menu li a{color: #b2b2b2;font-size: 14px;font-weight: 500;text-shadow: 1px 1px #f7f7f7;background: url(../img/list_bg.png) no-repeat right center;padding-right: 20px;}
.side-menu li a:hover, .side-menu li.active a{color: #888;text-decoration: none;background: url(../img/list_hover_bg.png) no-repeat right center;}
.widget{margin-bottom:20px;padding-top:20px;border-top:dotted 1px #ccc;border-top:dotted 1px rgba(0, 0, 0, .1);}
.widget .widget-tit{margin:0 0 4px;color:#747474;}


/* Time box */
.timer{width:300px;padding:20px 0 0;overflow:hidden;zoom:1;}
.time_section{float:left;margin:0 12px 0 0;font-size:10px;color:#aaa;text-align:center;}
.time_section br{clear:both;}
.time_amount{padding:20px 10px;line-height:18px;font-family:'Terminal Dosis',"Helvetica Neue",'Microsoft YaHei', Helvetica, Arial, sans-serif;font-size:43px;font-weight:200;background:#f7f7f7;/* Old browsers */
background:-moz-linear-gradient(top,#f7f7f7 0%,#f7f7f7 50%,#f2f2f2 50%,#f9f9f9 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f7f7f7),color-stop(50%,#f7f7f7),color-stop(50%,#f2f2f2),color-stop(100%,#f9f9f9));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#f7f7f7 0%,#f7f7f7 50%,#f2f2f2 50%,#f9f9f9 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#f7f7f7 0%,#f7f7f7 50%,#f2f2f2 50%,#f9f9f9 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#f7f7f7 0%,#f7f7f7 50%,#f2f2f2 50%,#f9f9f9 100%);/* IE10+ */
background:linear-gradient(top,#f7f7f7 0%,#f7f7f7 50%,#f2f2f2 50%,#f9f9f9 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7',endColorstr='#f9f9f9',GradientType=0 );/* IE6-9 */
float:left;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#888;text-align:center;letter-spacing:-1px;width:38px;box-shadow:inset rgba(0,0,0,0.08) 0px 0px 5px;-moz-box-shadow:inset rgba(0,0,0,0.08) 0px 0px 5px;-webkit-box-shadow:inset rgba(0,0,0,0.08) 0px 0px 5px;text-shadow:1px 1px #F3F3F3;}


/* Font family */
@font-face {font-family:'Terminal Dosis';font-style:normal;font-weight:200;src:local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/terminaldosis/v5/SwfduKDlxm7-vFPpKzhxuQNVTb8kAFPi3wXyBHhN67Q.woff) format('woff');}
@font-face {font-family:'Terminal Dosis';font-style:normal;font-weight:400;src:local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/terminaldosis/v5/_IcvjW_kWHsIHjjUsLbdpFGxLvFzKVP0OsRYGzgS_zk.woff) format('woff');}
@font-face {font-family: 'Terminal Dosis';font-style: normal;font-weight: 600;src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/terminaldosis/v5/SwfduKDlxm7-vFPpKzhxuUN-joXaVkmxkypE1i6qDts.woff) format('woff');}


